name: Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Restore Cargo cache
      id: restore-cargo-cache
      uses: actions/cache/restore@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-${{ github.job }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Save Cargo cache
      uses: actions/cache/save@v3
      if: inputs.environment != 'PR integration tests'
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ steps.restore-cargo-cache.outputs.cache-primary-key }}
    # - name: Build Release
    #   run: cargo build --release --verbose
    - name: Upload unofficial packages
      uses: actions/upload-artifact@v3
      with:
        name: packages
        path:  ./target/**/s3proxy
        retention-days: 3
        if-no-files-found: error