name: Release

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          # - x86_64-unknown-linux-gnu

    steps:
    - uses: actions/checkout@v3

    - name: Install rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true
        target: ${{ matrix.target }}
    - name: Restore Cargo cache
      id: restore-cargo-cache
      uses: actions/cache/restore@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-${{ github.job }}-target-${{ matrix.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    # - name: Build
    #   run: cargo build
    - name: Run tests
      run: cargo test
    - name: Build target
      uses: actions-rs/cargo@v1
      with:
        use-cross: true
        command: build
        args: --release --target ${{ matrix.target }}
    - name: Save Cargo cache
      uses: actions/cache/save@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ steps.restore-cargo-cache.outputs.cache-primary-key }}
    # - name: Build Release
    #   run: cargo build --release --verbose
    - name: Upload unofficial packages
      uses: actions/upload-artifact@v4
      with:
        name: s3proxy-${{ matrix.target }}
        path:  ./target/${{ matrix.target }}/release/s3proxy
        retention-days: 3
        if-no-files-found: error